<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
</head>
<body>
    <input type="text" name="ItemTitle" [(ngModel)] = ItemTitle/>
    <input type="text" name="ItemDescription" [(ngModel)] = ItemDescription />
    <button type="button"  *ngIf="!this.IsEditable" (click)= addToList(ItemTitle,ItemDescription) >Add</button>
    <button type="button" *ngIf="this.IsEditable" (click)="SaveUpdatedData()">Update Data</button>
    <table>
      <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
      </tr>
      <tr *ngFor="let item of ItemList">
        <td>{{item.SrNo}}</td>
        <td>{{item.ItemTitle}}</td>
        <td>{{item.ItemDescription}}</td>
        <td>
        <button type="button" (click)= "EditToDoListItem(item)" >Edit</button>
        <button type="button" (click)="DeleteToDoListItem(item)">Delete</button>
      </td>
      </tr>
    </table>
</body>
</html>